@use "sass:map";
@use "sass:list";
@use "@/styles/tools/breakpoints" as breakpoints;
@use "@/styles/settings/core" as core;
@use "@/styles/tools/generators/name" as name;

$_class-separator: core.$class-separator;
$_class-between-separator: core.$class-between-indicator;

@mixin between($data) {
	@if ($data and list.length($data) > 0) {
		@each $viewports, $items in $data {
			$at: list.nth($viewports, 1);
			$to: list.nth($viewports, 2);

			@each $item in $items {
				&#{$_class-separator}#{name.generate($item)}#{$_class-between-indicator}#{$at}#{$_class-between-separator}#{$to} {
					@include breakpoints.between($viewport) {
						@content ($item);
					}
				}
			}
		}
	}
}
