@use "sass:map";
@use "./base" as *;
@use "./at" as *;
@use "./to" as *;
@use "./between" as *;

@mixin generate($data: ()) {
	$value: map.get($data, "value");
	$at: map.get($data, "at");
	$to: map.get($data, "to");
	$between: map.get($data, "between");

	& {
		@include base($value) using ($item) {
			@content ($item);
		}

		@include at($at) using ($item) {
			@content ($item);
		}

		@include to($to) using ($item) {
			@content ($item);
		}

		@include between($between) using ($item) {
			@content ($item);
		}
	}
}
