@use "sass:meta";
@use "sass:list";
@use "@/styles/tools/helpers" as helpers;
@use "@/styles/settings/core" as core;

@function _string($value) {
	@return helpers.replace-str($value, " ", core.$separator);
}

@function _list($items) {
	$result: "";

	@each $item in $items {
		$is-first: list.index($list, $item) == 1;
		$result: if($is-first, $item, "#{$result}#{core.$separator}#{$item}");
	}

	@return $result;
}

@function name($value) {
	$type: meta.type-of($value);

	@if ($type == "string") {
		@return _string($value);
	} @else if ($type == "list") {
		@return _list($value);
	} @else {
		@return $value;
	}
}
