@use "sass:meta";
@use "sass:map";
@use "sass:list";
@use "@/styles/tools/breakpoints" as breakpoints;
@use "@/styles/tools/helpers" as helpers;
@use "@/styles/settings/core" as core;
@use "@/styles/tools/generators/name" as name;

@mixin _base($data) {
	$value: map.get($data, "value");

	@if ($value and list.length($value) > 0) {
		@each $item in $value {
			&#{core.$class-separator}#{name.name($item)} {
				@content ($item);
			}
		}
	}
}

@mixin _at($data) {
	$at: map.get($data, "at");

	@if ($at and list.length($at) > 0) {
		@each $viewport, $items in $at {
			@each $item in $items {
				&#{core.$class-separator}#{name.name($item)}#{core.$class-at-indicator}#{$viewport} {
					@include breakpoints.at($viewport) {
						@content ($item);
					}
				}
			}
		}
	}
}

@mixin _to($data) {
	$to: map.get($data, "to");

	@if ($to and list.length($to) > 0) {
		@each $viewport, $items in helpers.reverse-map($to) {
			@each $item in $items {
				&#{core.$class-separator}#{name.name($item)}#{core.$class-to-indicator}#{$viewport} {
					@include breakpoints.to($viewport) {
						@content ($item);
					}
				}
			}
		}
	}
}

@mixin _between($data) {
	$between: map.get($data, "between");

	@if ($between and list.length($between) > 0) {
		@each $viewports, $items in $between {
			$at: list.nth($viewports, 1);
			$to: list.nth($viewports, 2);

			@each $item in $items {
				&#{core.$class-separator}#{name($item)}#{core.$class-between-indicator}#{$at}#{core.$class-between-separator}#{$to} {
					@include breakpoints.between($viewport) {
						@content ($item);
					}
				}
			}
		}
	}
}

@mixin value($data) {
	& {
		@include _base($data) using ($item) {
			@content ($item);
		}

		@include _at($data) using ($item) {
			@content ($item);
		}

		@include _to($data) using ($item) {
			@content ($item);
		}

		@include _between($data) using ($item) {
			@content ($item);
		}
	}
}
