@use "sass:meta";
@use "sass:map";
@use "sass:list";
@use "@/styles/tools/breakpoints" as breakpoints;
@use "@/styles/tools/helpers" as helpers;
@use "./config" as config;
@use "./name" as name;

@mixin base($data) {
	$value: map.get($data, "value");

	@if ($value and list.length($value) > 0) {
		@each $item in $value {
			&#{config.$separator}#{name($item)} {
				@content ($item);
			}
		}
	}
}

@mixin at($data) {
	$at: map.get($data, "at");

	@if ($at and list.length($at) > 0) {
		@each $viewport, $items in $at {
			@each $item in $items {
				&#{config.$separator}#{name($item)}#{config.$at-indicator}#{$viewport} {
					@include breakpoints.at($viewport) {
						@content ($item);
					}
				}
			}
		}
	}
}

@mixin to($data) {
	$to: map.get($data, "to");

	@if ($to and list.length($to) > 0) {
		@each $viewport, $items in map.reverse($to) {
			@each $item in $items {
				&#{config.$separator}#{name($item)}#{config.$to-indicator}#{$viewport} {
					@include breakpoints.to($viewport) {
						@content ($item);
					}
				}
			}
		}
	}
}

@mixin between($data) {
	$between: map.get($data, "between");

	@if ($between and list.length($between) > 0) {
		@each $viewports, $items in $between {
			$at: list.nth($viewports, 1);
			$to: list.nth($viewports, 2);

			@each $item in $items {
				&#{config.$separator}#{name($item)}#{config.$between-indicator}#{$at}#{config.$between-separator}#{$to} {
					@include breakpoints.between($viewport) {
						@content ($item);
					}
				}
			}
		}
	}
}

@mixin all($data) {
	& {
		@include base($data) using ($item) {
			@content ($item);
		}

		@include at($data) using ($item) {
			@content ($item);
		}

		@include to($data) using ($item) {
			@content ($item);
		}

		@include between($data) using ($item) {
			@content ($item);
		}
	}
}
