@use "sass:map";
@use "@/styles/tools/generators/default" as default;
@use "./settings" as settings;

[class*="o-flex"] {
	display: var(--flex-display, unset);

	& > * + * {
		margin-left: var(--flex-margin-left, unset);
	}
}

.o-flex {
	@include default.base(map.get(settings.$flex, default)) {
		--flex-display: flex;
		--flex-margin-left: var(--flex-gap);
	}
}

.o-flex-inline {
	@include default.base(map.get(settings.$flex-inline, default)) {
		--flex-display: inline-flex;
		--flex-margin-left: var(--flex-gap);
	}
}

.o-flex {
	@include default.at(map.get(settings.$flex, at)) {
		--flex-display: flex;
		--flex-margin-left: var(--flex-gap);
	}
}

.o-flex-inline {
	@include default.at(map.get(settings.$flex-inline, at)) {
		--flex-display: inline-flex;
		--flex-margin-left: var(--flex-gap);
	}
}

.o-flex {
	@include default.to(map.get(settings.$flex, to)) {
		--flex-display: flex;
		--flex-margin-left: var(--flex-gap);
	}
}

.o-flex-inline {
	@include default.to(map.get(settings.$flex-inline, to)) {
		--flex-display: inline-flex;
		--flex-margin-left: var(--flex-gap);
	}
}

.o-flex {
	@include default.between(map.get(settings.$flex, between)) {
		--flex-display: flex;
		--flex-margin-left: var(--flex-gap);
	}
}

.o-flex-inline {
	@include default.between(map.get(settings.$flex-inline, between)) {
		--flex-display: inline-flex;
		--flex-margin-left: var(--flex-gap);
	}
}
