@use "sass:map";
@use "@/styles/tools/generators/default" as default;
@use "@/styles/tools/generators/value" as value;
@use "./settings" as settings;

[class*="o-flex"] > {
	[class*="o-item"] {
		flex: var(--flex-item);
	}

	.o-item {
		@include value.base(map.get(settings.$item, value)) using ($item) {
			--flex-item: #{$item};
		}
	}

	.o-item-fill {
		@include default.base(map.get(settings.$item-fill, default)) {
			--flex-item: 1 1 0%;
		}
	}

	.o-item-auto {
		@include default.base(map.get(settings.$item-auto, default)) {
			--flex-item: 1 1 auto;
		}
	}

	.o-item-initial {
		@include default.base(map.get(settings.$item-initial, default)) {
			--flex-item: 0 1 auto;
		}
	}

	.o-item-none {
		@include default.base(map.get(settings.$item-none, default)) {
			--flex-item: none;
		}
	}

	.o-item {
		@include value.at(map.get(settings.$item, at)) using ($item) {
			--flex-item: #{$item};
		}
	}

	.o-item-fill {
		@include default.at(map.get(settings.$item-fill, at)) {
			--flex-item: 1 1 0%;
		}
	}

	.o-item-auto {
		@include default.at(map.get(settings.$item-auto, at)) {
			--flex-item: 1 1 auto;
		}
	}

	.o-item-initial {
		@include default.at(map.get(settings.$item-initial, at)) {
			--flex-item: 0 1 auto;
		}
	}

	.o-item-none {
		@include default.at(map.get(settings.$item-none, at)) {
			--flex-item: none;
		}
	}

	.o-item {
		@include value.to(map.get(settings.$item, to)) using ($item) {
			--flex-item: #{$item};
		}
	}

	.o-item-fill {
		@include default.to(map.get(settings.$item-fill, to)) {
			--flex-item: 1 1 0%;
		}
	}

	.o-item-auto {
		@include default.to(map.get(settings.$item-auto, to)) {
			--flex-item: 1 1 auto;
		}
	}

	.o-item-initial {
		@include default.to(map.get(settings.$item-initial, to)) {
			--flex-item: 0 1 auto;
		}
	}

	.o-item-none {
		@include default.to(map.get(settings.$item-none, to)) {
			--flex-item: none;
		}
	}

	.o-item {
		@include value.between(map.get(settings.$item, between)) using ($item) {
			--flex-item: #{$item};
		}
	}

	.o-item-fill {
		@include default.between(map.get(settings.$item-fill, between)) {
			--flex-item: 1 1 0%;
		}
	}

	.o-item-auto {
		@include default.between(map.get(settings.$item-auto, between)) {
			--flex-item: 1 1 auto;
		}
	}

	.o-item-initial {
		@include default.between(map.get(settings.$item-initial, between)) {
			--flex-item: 0 1 auto;
		}
	}

	.o-item-none {
		@include default.between(map.get(settings.$item-none, between)) {
			--flex-item: none;
		}
	}
}
