$flex: ();
$gap: ();
$flex-inline: ();
$dir-row: ();
$dir-row-reverse: ();
$dir-col: ();
$dir-col-reverse: ();
$wrap: ();
$wrap-reverse: ();
$wrap-none: ();
$item: ();
$item-fill: ();
$item-auto: ();
$item-initial: ();
$item-none: ();
$item-grow: ();
$item-shrink: ();
