/**
 * Extended from:
 * - https://github.com/andy-piccalilli/modern-css-reset/blob/master/src/reset.css
 * - https://meyerweb.com/eric/tools/css/reset/
 * - https://github.com/twbs/bootstrap/blob/main/scss/_reboot.scss
 */

// 1. Default box sizing rules
*,
*::before,
*::after {
	box-sizing: border-box; // 1
}

// 1. Scale all fonts correctly when using rem
:root {
	font-size: 100%; // 1
}

// 1. Set default scroll behavior
html:focus-within {
	scroll-behavior: smooth; // 1
}

/**
 * 1. Set body default
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
body {
	min-height: 100vh; // 1
	text-rendering: optimizeSpeed; // 1

	// stylelint-disable-next-line property-no-vendor-prefix
	-webkit-text-size-adjust: 100%; // 2
}

// Default resets
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	vertical-align: baseline;
	margin: 0;
	padding: 0;

	font: inherit;
	font-size: 100%;

	border: 0;
}

// 1. HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block; // 1
}

// 1. Define a custom list when a role is added
ul[role="list"],
ol[role="list"] {
	list-style: none; // 1
}

/**
 * 1. A element default styling that don't have custom classes
 * 2. Undo styles for placeholder links/named anchors
 */
a {
	&:not([class]) {
		text-decoration-skip-ink: auto; // 1
	}

	&:not([href]) {
		&,
		&:hover {
			text-decoration: none; // 2

			color: inherit; // 2
		}
	}
}

blockquote,
q {
	quotes: none;

	&::before,
	&::after {
		content: "";
		content: none;
	}
}

/**
 * 1. Add the correct text decoration in Chrome, Edge, Opera, and Safari.
 * 2. Add explicit cursor to indicate changed behavior.
 * 3. Prevent the text-decoration to be skipped.
 */
abbr[title] {
	text-decoration: underline dotted; // 1

	cursor: help; // 2
	text-decoration-skip-ink: none; // 3
}

address {
	font-style: normal;
	line-height: inherit;
}

// 1. Prevent `sub` and `sup` elements from affecting the line height
sub,
sup {
	position: relative;

	vertical-align: baseline; // 1

	line-height: 0; // 1
}

/**
 * 1. Correct the odd `em` font sizing in all browsers.
 */
pre,
code,
kbd,
samp {
	font-size: 1em; // 1
}

/**
 * 1. Don't allow content to break outside
 * 2. Reset default margin
 * 3. Account for some code outputs that place code tags in pre tags
 */
pre {
	display: block;
	overflow: auto; // 1
	margin: 0; // 2

	code {
		font-size: inherit; // 3
		word-break: normal; // 3

		color: inherit; // 3
	}
}

/**
 * 1. Streamline the style when inside anchors to avoid broken underline and
 *    more
 */
code {
	word-wrap: break-word;

	a > & {
		color: inherit; // 1
	}
}

kbd {
	kbd {
		padding: 0;

		font-size: 1em;
	}
}

img,
svg {
	vertical-align: middle;
}

/**
 * 1. Remove whitespace below
 * 2. Limit image to go out of bounds
 */
img,
picture {
	display: block; // 1
	max-width: 100%; // 2
}

table {
	caption-side: bottom;
	border-collapse: collapse;
	border-spacing: 0;
}

caption {
	text-align: left;
}

/**
 * 1. Matches default `<td>` alignment by inheriting `text-align`.
 * 2. Fix alignment for Safari
 */
th {
	text-align: inherit; // 1
	text-align: -webkit-match-parent; // 2
}

thead,
tbody,
tfoot,
tr,
td,
th {
	border-color: inherit;
	border-style: solid;
	border-width: 0;
}

// 1. Allow labels to use margin for spacing
label {
	display: inline-block; // 1
}

// 1. Remove default border-radius that macOS Chrome adds
button {
	border-radius: 0; // 1
}

input,
button,
textarea,
select {
	font: inherit;
}

// 1. Remove the margin in Firefox and Safari
input,
button,
select,
optgroup,
textarea {
	margin: 0; // 1.

	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

/**
 * 1. Explicitly remove focus outline in Chromium when it shouldn't be visible
 *    (e.g. as result of mouse click or touch tap). It already should be doing
 *    this automatically, but seems to currently be confused and applies its
 *    very visible two-tone outline anyway.
 */
button:focus:not(:focus-visible) {
	outline: 0;
}

// 1/ Remove the inheritance of text transform in Firefox
button,
select {
	text-transform: none; // 1
}

// 1. Set the cursor for non-`<button>` buttons
[role="button"] {
	cursor: pointer; // 1
}

/**
 * 1. Remove the inheritance of word-wrap in Safari.
 * 2. Undo the opacity change from Chrome
 */
select {
	word-wrap: normal; // 1

	&:disabled {
		opacity: 1; // 2
	}
}

/**
 * 1. Remove the dropdown arrow in Chrome from inputs built with datalists.
 *    https://stackoverflow.com/a/54997118
 */
[list]::-webkit-calendar-picker-indicator {
	display: none; // 1
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	// stylelint-disable-next-line property-no-vendor-prefix
	-webkit-appearance: button; // 1
}

/**
 * 1. Remove inner border and padding from Firefox, but don't restore the
 *    outline
 */
::-moz-focus-inner {
	padding: 0;

	border-style: none;
}

/**
 * 1. Textareas should really only resize vertically so they don't break their
 *    (horizontal) containers.
 */
textarea {
	resize: vertical; // 1
}

/**
 * 1. Reset default min-width on fieldsets to behave more like a standard block
 *    element
 * 2. Reset the default behavior of fieldsets
 */

fieldset {
	min-width: 0; // 1
	margin: 0; // 2
	padding: 0; // 2

	border: 0; // 2
}

/**
 * 1. By using `float: left`, the legend will behave like a block element. This
 *    way the border of a fieldset wraps around the legend if present.
 * 2. Fix wrapping bug.
 */

legend {
	float: left; // 1
	width: 100%;
	padding: 0;

	line-height: inherit;

	& + * {
		clear: left; // 2
	}
}

/**
 * 1. Fix height of inputs with a type of datetime-local, date, month, week, or
 *    time
 */
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
	padding: 0; // 1
}

::-webkit-inner-spin-button {
	height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 * 2. This overrides the extra rounded corners on search inputs in iOS
 */
[type="search"] {
	outline-offset: -2px; // 1
	// stylelint-disable-next-line property-no-vendor-prefix
	-webkit-appearance: textfield; // 2
}

// 1. Remove the inner padding in Chrome and Safari on macOS.
::-webkit-search-decoration {
	// stylelint-disable-next-line property-no-vendor-prefix
	-webkit-appearance: none; // 1
}

// 1. Remove padding around color pickers in webkit browsers
::-webkit-color-swatch-wrapper {
	padding: 0; // 1
}

// 1. Inherit font family and line height for file input buttons
::file-selector-button {
	font: inherit; // 1
}

/**
 * 1. Change font properties to `inherit`
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
::-webkit-file-upload-button {
	font: inherit; // 1
	// stylelint-disable-next-line property-no-vendor-prefix
	-webkit-appearance: button; // 2
}

output {
	display: inline-block;
}

// 1. Remove default border from iframe
iframe {
	border: 0; // 1
}

// 1. Add the correct display in all browsers

summary {
	display: list-item; // 1

	cursor: pointer;
}

// 1. Add the correct vertical alignment in Chrome, Firefox, and Opera.
progress {
	vertical-align: baseline; // 1
}

// 1. Always hide an element with the `hidden` HTML attribute.
[hidden] {
	// stylelint-disable-next-line declaration-no-important
	display: none !important;
}

// Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		// stylelint-disable declaration-no-important
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
		// stylelint-enable declaration-no-important
	}
}
