@use "sass:map";
@use "sass:math";
@use "@/styles/tools/generators/value" as value;
@use "./settings" as settings;

[class*="o-flex-grid"] > {
	[class*="o-col"] {
		--flex-grid-col-space: 0%;
		--flex-grid-col: 0 0
			calc(((var(--flex-grid-col-value) / var(--flex-grid-columns)) * 100%) - var(--flex-grid-col-space));

		flex: var(--flex-grid-col);
	}

	.o-col {
		@include value.generate(settings.$col) using ($item) {
			--flex-grid-col-value: #{$item};
		}
	}
}
