$columns: 12;
$spacing: (
	default: 2,
);

// prettier-ignore
$flex-grid: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$cols: (
	value: (),
	at: (),
	to: (),
);

// prettier-ignore
$col: (
	value: (),
	at: (),
	to: (),
);

// prettier-ignore
$gap: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$col-gap: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$row-gap: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$gap-item: (
	value: (),
	at: (),
	to: (),
);

// prettier-ignore
$col-gap-item: (
	value: (),
	at: (),
	to: (),
);

// prettier-ignore
$row-gap-item: (
	value: (),
	at: (),
	to: (),
);
