@use "sass:map";
@use "@/styles/tools/generators/default" as default;
@use "@/styles/tools/units" as units;
@use "@/styles/settings/core" as core;
@use "./settings" as settings;

$_class-separator: core.$class-separator;

@each $name, $settings in settings.$containers {
	$suffix: if($name == "default", "", #{$_class-separator}#{$name});
	$max-width: units.convert(map.get($settings, max-width));
	$container-max-width: map.get($settings, container-max-width);

	@if ($container-max-width) {
		.o-container-max-width#{suffix} {
			@include default.generate($container-max-width) {
				--container-width: 100%;
				--container-max-width: #{$max-width};
				--container-margin-left: auto;
				--container-margin-right: auto;
			}
		}
	}
}
