$max-width: 1024px;
$spacing: ();
$container: ();
$container-l: ();
$container-r: ();
$container-width: ();
$container-width-l: ();
$container-width-r: ();
$container-inset: ();
$container-inset-l: ();
$container-inset-r: ();
$container-inset-width: ();
$container-inset-width-l: ();
$container-inset-width-r: ();
$container-space: ();
$container-space-l: ();
$container-space-r: ();
$container-max-width: ();
$variants: ();
