@use "sass:math";
@use "@/styles/settings/core" as core;

$_base-font-size: core.$base-font-size;
$_unit: core.$unit;

@function _rem-px($value) {
	$integer: math.div($value, ($value * 0 + 1)) * $_base-font-size;

	@return math.round($integer);
}

@function px($value) {
	$unit: math.unit($value);

	@if ($unit == rem) {
		@return _rem-px($value);
	} @else {
		@return $value;
	}
}
