$neutral-100-hsl: hsl(0, 0%, 100%);
$neutral-90-hsl: hsl(0, 0%, 90%);
$neutral-80-hsl: hsl(0, 0%, 80%);
$neutral-70-hsl: hsl(0, 0%, 70%);
$neutral-60-hsl: hsl(0, 0%, 60%);
$neutral-50-hsl: hsl(0, 0%, 50%);
$neutral-40-hsl: hsl(0, 0%, 40%);
$neutral-30-hsl: hsl(0, 0%, 30%);
$neutral-20-hsl: hsl(0, 0%, 20%);
$neutral-10-hsl: hsl(0, 0%, 10%);
$neutral-0-hsl: hsl(0, 0%, 0%);

$purple-77-hsl: hsl(262, 86%, 77%);
$purple-47-hsl: hsl(265, 100%, 47%);
$purple-44-hsl: hsl(257, 100%, 44%);

$cyan-74-hsl: hsl(171, 66%, 74%);
$cyan-43-hsl: hsl(174, 97%, 43%);
$cyan-36-hsl: hsl(170, 100%, 36%);

$green-47-hsl: hsl(85, 100%, 47%);
$green-38-hsl: hsl(85, 100%, 39%);
$green-29-hsl: hsl(85, 100%, 29%);

$orange-62: hsl(35, 100%, 62%);
$orange-47: hsl(35, 100%, 47%);
$orange-40: hsl(35, 100%, 40%);

$red-62: hsl(0, 91%, 68%);
$red-47: hsl(0, 91%, 58%);
$red-40: hsl(0, 91%, 48%);
