@use "@/styles/tools/generators/value" as value;

.u-bg {
	// prettier-ignore
	@include value.generate((
		value: (),
		at: (),
		to: (),
	)) using ($item) {
		background-color: var(--color-#{$item});
	}
}
