@use "@/styles/tools/generators/default" as default;

.u-fill-width {
	@include default.generate() {
		width: 100%;
	}
}

.u-fill-height {
	@include default.generate() {
		height: 100%;
	}
}

.u-fill-space {
	@include default.generate() {
		width: 100%;
		height: 100%;
	}
}
