@use "sass:meta";
@use "@/styles/tools/generators/default" as default;
@use "@/styles/settings/font-styles" as font-styles;

.u-fs-h1 {
	// prettier-ignore
	@include default.generate((
		default: false,
		at: (),
		to: (),
	)) {
		@include font-styles.h1();
	}
}
