@use "@/styles/tools/generators/value" as value;
@use "@/styles/tools/sizes" as sizes;

[class*="u-inline"] {
	& > * + * {
		margin-left: var(--inline-margin-left);
	}
}

[class*="u-inline-wrap"] {
	margin: calc(var(--inline-wrap-margin) * -0.5);

	& > * {
		margin: calc(var(--inline-wrap-margin) * 0.5);
	}
}

.u-inline {
	// prettier-ignore
	@include value.generate((
		value: (),
		at: (),
		to: (),
	)) using ($item) {
		--inline-margin-left: #{sizes.scale($item)};
	}
}

.u-inline-wrap {
	// prettier-ignore
	@include value.generate((
		value: (),
		at: (),
		to: (),
	)) using ($item) {
		--inline-wrap-margin: #{sizes.scale($item)};
	}
}
