@use "@/styles/tools/generators/default" as default;

.u-idle {
	// prettier-ignore
	@include default.generate((
		default: false,
		at: (),
		to: ()
	)) {
		pointer-events: none;
	}
}

.u-interactive {
	// prettier-ignore
	@include default.generate((
		default: false,
		at: (),
		to: ()
	)) {
		pointer-events: auto;
	}
}
