@use "@/styles/tools/generators/value" as value;
@use "@/styles/tools/sizes" as sizes;

.u-m {
	// prettier-ignore
	@include value.generate((
		value: (),
		at: (),
		to: (),
	)) using ($item) {
		margin: sizes.scale($item);
	}
}

.u-mx {
	// prettier-ignore
	@include value.generate((
		value: (),
		at: (),
		to: (),
	)) using ($item) {
		margin-right: sizes.scale($item);
		margin-left: sizes.scale($item);
	}
}

.u-my {
	// prettier-ignore
	@include value.generate((
		value: (),
		at: (),
		to: (),
	)) using ($item) {
		margin-top: sizes.scale($item);
		margin-bottom: sizes.scale($item);
	}
}

.u-mt {
	// prettier-ignore
	@include value.generate((
		value: (),
		at: (),
		to: (),
	)) using ($item) {
		margin-top: sizes.scale($item);
	}
}

.u-mr {
	// prettier-ignore
	@include value.generate((
		value: (),
		at: (),
		to: (),
	)) using ($item) {
		margin-right: sizes.scale($item);
	}
}

.u-mb {
	// prettier-ignore
	@include value.generate((
		value: (),
		at: (),
		to: (),
	)) using ($item) {
		margin-bottom: sizes.scale($item);
	}
}

.u-ml {
	// prettier-ignore
	@include value.generate((
		value: (),
		at: (),
		to: (),
	)) using ($item) {
		margin-left: sizes.scale($item);
	}
}
