@use "@/styles/tools/generators/default" as default;

.u-overflow-hidden {
	// prettier-ignore
	@include default.generate((
		default: false,
		at: (),
		to: (),
	)) {
		overflow: hidden;
	}
}

.u-overflow-auto {
	// prettier-ignore
	@include default.generate((
		default: false,
		at: (),
		to: (),
	)) {
		overflow: auto;
	}
}
