@use "@/styles/tools/generators/value" as value;
@use "@/styles/tools/sizes" as sizes;

.u-p {
	// prettier-ignore
	@include value.generate((
		value: (),
		at: (),
		to: (),
	)) using ($item) {
		padding: sizes.scale($item);
	}
}

.u-px {
	// prettier-ignore
	@include value.generate((
		value: (),
		at: (),
		to: (),
	)) using ($item) {
		padding-right: sizes.scale($item);
		padding-left: sizes.scale($item);
	}
}

.u-py {
	// prettier-ignore
	@include value.generate((
		value: (),
		at: (),
		to: (),
	)) using ($item) {
		padding-top: sizes.scale($item);
		padding-bottom: sizes.scale($item);
	}
}

.u-pt {
	// prettier-ignore
	@include value.generate((
		value: (),
		at: (),
		to: (),
	)) using ($item) {
		padding-top: sizes.scale($item);
	}
}

.u-pr {
	// prettier-ignore
	@include value.generate((
		value: (),
		at: (),
		to: (),
	)) using ($item) {
		padding-right: sizes.scale($item);
	}
}

.u-pb {
	// prettier-ignore
	@include value.generate((
		value: (),
		at: (),
		to: (),
	)) using ($item) {
		padding-bottom: sizes.scale($item);
	}
}

.u-pl {
	// prettier-ignore
	@include value.generate((
		value: (),
		at: (),
		to: (),
	)) using ($item) {
		padding-left: sizes.scale($item);
	}
}
