@use "sass:map";
@use "@/styles/settings/breakpoints" as breakpoints;
@use "@/styles/tools/units" as units;

$_unit: breakpoints.$unit;
$_setup: breakpoints.$setup;

@mixin at($key) {
	$value: map.get($_setup, $key);

	@media screen and (min-width: units.convert($value, $_unit)) {
		@content;
	}
}
