@use "sass:map";
@use "@/styles/tools/breakpoints/config" as config;
@use "@/styles/tools/helpers" as helpers;

$_unit: config.$unit;
$_setup: config.$setup;

@mixin at($key) {
	$value: map.get($_setup, $key);

	@media screen and (min-width: helpers.convert($value, $_unit)) {
		@content;
	}
}
