@use "sass:map";
@use "@/styles/settings/breakpoints" as breakpoints;
@use "@/styles/tools/units" as units;

$_unit: breakpoints.$unit;
$_setup: breakpoints.$setup;

@mixin between($from, $to) {
	$from: map.get($_setup, $from);
	$to: map.get($_setup, $to);
	$max-width: $to - 1px;

	@media screen and (min-width: units.convert($from, $_unit)) and (max-width: units.convert($max-width, $_unit)) {
		@content;
	}
}
