@use "sass:map";
@use "@/styles/settings/breakpoints" as breakpoints;
@use "@/styles/tools/units" as units;

$_unit: breakpoints.$unit;
$_viewports: breakpoints.$viewports;

@mixin to($key) {
	$value: map.get($_viewports, $key);
	$max-width: $value - 1px;

	@media screen and (max-width: units.convert($max-width, $_unit)) {
		@content;
	}
}
