@use "sass:map";
@use "@/styles/tools/breakpoints/config" as config;
@use "@/styles/tools/helpers" as helpers;

$_unit: config.$unit;
$_setup: config.$setup;

@mixin to($key) {
	$value: map.get($_setup, $key);
	$max-width: $value - 1px;

	@media screen and (max-width: helpers.number-convert($max-width, $_unit)) {
		@content;
	}
}
