@use "@/styles/settings/colors" as colors;

@media (prefers-color-scheme: dark) {
	:root {
		--base-color: #{colors.$neutral-0-hsl};
		--contrast-high-color: #{colors.$neutral-100-hsl};
		--contrast-medium-color: #{colors.$neutral-80-hsl};
		--contrast-low-color: #{colors.$neutral-60-hsl};
		--focus-color: #{colors.$neutral-100-hsl};
	}
}
