@use "@/styles/settings/colors" as colors;

:root {
	// Primary
	--primary-base-color: #{colors.$purple-47-hsl};
	--primary-contrast-color: #{colors.$neutral-100-hsl};
	--primary-tint-color: #{colors.$purple-77-hsl};
	--primary-shade-color: #{colors.$purple-44-hsl};

	// Secondary
	--secondary-base-color: #{colors.$cyan-43-hsl};
	--secondary-contrast-color: #{colors.$neutral-100-hsl};
	--secondary-tint-color: #{colors.$cyan-74-hsl};
	--secondary-shade-color: #{colors.$cyan-36-hsl};

	// Disabled
	--disabled-base-color: #{colors.$neutral-50-hsl};
	--disabled-contrast-color: #{colors.$neutral-0-hsl};
	--disabled-tint-color: #{colors.$neutral-60-hsl};
	--disabled-shade-color: #{colors.$neutral-40-hsl};

	// Success
	--success-base-color: #{colors.$green-38-hsl};
	--success-contrast-color: #{colors.$neutral-100-hsl};
	--success-tint-color: #{colors.$green-47-hsl};
	--success-shade-color: #{colors.$green-29-hsl};

	// Warning
	--warning-base-color: #{colors.$orange-47-hsl};
	--warning-contrast-color: #{colors.$neutral-100-hsl};
	--warning-tint-color: #{colors.$orange-62-hsl};
	--warning-shade-color: #{colors.$orange-40-hsl};

	// Danger
	--danger-base-color: #{colors.$red-47-hsl};
	--danger-contrast-color: #{colors.$neutral-100-hsl};
	--danger-tint-color: #{colors.$red-62-hsl};
	--danger-shade-color: #{colors.$red-40-hsl};

	// Base
	--base-color: #{colors.$neutral-100-hsl};
	--contrast-high-color: #{colors.$neutral-0-hsl};
	--contrast-medium-color: #{colors.$neutral-30-hsl};
	--contrast-low-color: #{colors.$neutral-60-hsl};
	--focus-color: #{colors.$neutral-0-hsl};
}

.medium {
	// Base
	--base-color: #{colors.$neutral-90-hsl};
	--contrast-medium-color: #{colors.$neutral-20-hsl};
	--contrast-low-color: #{colors.$neutral-40-hsl};
}

.dark {
	// Base
	--base-color: #{colors.$neutral-0-hsl};
	--contrast-high-color: #{colors.$neutral-100-hsl};
	--contrast-medium-color: #{colors.$neutral-80-hsl};
	--contrast-low-color: #{colors.$neutral-60-hsl};
	--focus-color: #{colors.$neutral-100-hsl};
}

@media (prefers-color-scheme: dark) {
	// :root {}

	// .medium {}

	// .dark {}
}
