@use "@/styles/settings/colors" as colors;

:root {
	// Primary
	--color-primary-base: #{colors.$purple-47-hsl};
	--color-primary-contrast: #{colors.$neutral-100-hsl};
	--color-primary-tint: #{colors.$purple-77-hsl};
	--color-primary-shade: #{colors.$purple-44-hsl};

	// Secondary
	--color-secondary-base: #{colors.$cyan-43-hsl};
	--color-secondary-contrast: #{colors.$neutral-100-hsl};
	--color-secondary-tint: #{colors.$cyan-74-hsl};
	--color-secondary-shade: #{colors.$cyan-36-hsl};

	// Disabled
	--color-disabled-base: #{colors.$neutral-50-hsl};
	--color-disabled-contrast: #{colors.$neutral-0-hsl};
	--color-disabled-tint: #{colors.$neutral-60-hsl};
	--color-disabled-shade: #{colors.$neutral-40-hsl};

	// Success
	--color-success-base: #{colors.$green-38-hsl};
	--color-success-contrast: #{colors.$neutral-100-hsl};
	--color-success-tint: #{colors.$green-47-hsl};
	--color-success-shade: #{colors.$green-29-hsl};

	// Warning
	--color-warning-base: #{colors.$orange-47-hsl};
	--color-warning-contrast: #{colors.$neutral-100-hsl};
	--color-warning-tint: #{colors.$orange-62-hsl};
	--color-warning-shade: #{colors.$orange-40-hsl};

	// Danger
	--color-danger-base: #{colors.$red-47-hsl};
	--color-danger-contrast: #{colors.$neutral-100-hsl};
	--color-danger-tint: #{colors.$red-62-hsl};
	--color-danger-shade: #{colors.$red-40-hsl};

	// Base
	--color-base: #{colors.$neutral-100-hsl};
	--color-contrast-high: #{colors.$neutral-0-hsl};
	--color-contrast-medium: #{colors.$neutral-30-hsl};
	--color-contrast-low: #{colors.$neutral-60-hsl};
	--color-focus: #{colors.$neutral-0-hsl};
}
