@use "@/styles/tools/sizes" as sizes;

:root {
	--size-50: #{sizes.scale(-7)};
	--size-100: #{sizes.scale(-6)};
	--size-150: #{sizes.scale(-5)};
	--size-200: #{sizes.scale(-4)};
	--size-250: #{sizes.scale(-3)};
	--size-300: #{sizes.scale(-2)};
	--size-350: #{sizes.scale(-1)};
	--size-400: #{sizes.scale(0)};
	--size-450: #{sizes.scale(1)};
	--size-500: #{sizes.scale(2)};
	--size-550: #{sizes.scale(3)};
	--size-600: #{sizes.scale(4)};
	--size-650: #{sizes.scale(5)};
	--size-700: #{sizes.scale(6)};
	--size-750: #{sizes.scale(7)};
	--size-800: #{sizes.scale(8)};
	--size-850: #{sizes.scale(9)};
	--size-900: #{sizes.scale(10)};
	--size-950: #{sizes.scale(11)};
}
