@use "@/styles/tools/typo" as typo;
@use "@/styles/tools/breakpoints" as breakpoints;

// @include typo.load();

:root {
	// h1
	--h1-font-family: typo.$font-family-primary;
	--h1-font-weight: typo.$font-weight-bold;
	--h1-font-size: var(--size-600);
	--h1-line-height: 1.5;

	@include breakpoints.at("700") {
		--h1-font-size: var(--size-700);
	}

	// h2
	--h2-font-family: typo.$font-family-primary;
	--h2-font-weight: typo.$font-weight-bold;
	--h2-font-size: var(--size-500);
	--h2-line-height: 1.5;

	@include breakpoints.at("700") {
		--h2-font-size: var(--size-600);
	}

	// h3
	--h3-font-family: typo.$font-family-primary;
	--h3-font-weight: typo.$font-weight-bold;
	--h3-font-size: var(--size-400);
	--h3-line-height: 1.5;

	@include breakpoints.at("700") {
		--h3-font-size: var(--size-500);
	}

	// h4
	--h4-font-family: typo.$font-family-primary;
	--h4-font-weight: typo.$font-weight-bold;
	--h4-font-size: var(--size-400);
	--h4-line-height: 1.5;

	@include breakpoints.at("700") {
		--h4-font-size: var(--size-500);
	}

	// h5
	--h5-font-family: typo.$font-family-primary;
	--h5-font-weight: typo.$font-weight-bold;
	--h5-font-size: var(--size-400);
	--h5-line-height: 1.5;

	@include breakpoints.at("700") {
		--h5-font-size: var(--size-500);
	}

	// h6
	--h6-font-family: typo.$font-family-primary;
	--h6-font-weight: typo.$font-weight-bold;
	--h6-font-size: var(--size-400);
	--h6-line-height: 1.5;

	@include breakpoints.at("700") {
		--h6-font-size: var(--size-500);
	}

	// p
	--p-font-family: typo.$font-family-secondary;
	--p-font-weight: typo.$font-weight-bold;
	--p-font-size: var(--size-400);
	--p-line-height: 1.5;
}
