@use "@/styles/settings/font-styles" as font-styles;

h1 {
	@include font-styles.h1();

	max-width: 15ch;
}

h2,
h3,
h4,
h5,
h6 {
	max-width: 25ch;
}

h2 {
	@include font-styles.h2();
}

h3 {
	@include font-styles.h3();
}

h4 {
	@include font-styles.h4();
}

h5 {
	@include font-styles.h5();
}

h6 {
	@include font-styles.h6();
}

p {
	@include font-styles.p();

	max-width: 60ch;
}
