@use "sass:map";
@use "@/styles/tools/generators/default" as default;
@use "./settings" as settings;

[class*="o-grid"] {
	&[class*="o-ac-"] {
		align-content: var(--grid-align-content, unset);
	}

	&.o-ac-start {
		@include default.base(map.get(settings.$align-content-start, default)) {
			--grid-align-content: start;
		}
	}

	&.o-ac-center {
		@include default.base(map.get(settings.$align-content-center, default)) {
			--grid-align-content: center;
		}
	}

	&.o-ac-end {
		@include default.base(map.get(settings.$align-content-end, default)) {
			--grid-align-content: end;
		}
	}

	&.o-ac-stretch {
		@include default.base(map.get(settings.$align-content-stretch, default)) {
			--grid-align-content: stretch;
		}
	}

	&.o-ac-between {
		@include default.base(map.get(settings.$align-content-between, default)) {
			--grid-align-content: space-between;
		}
	}

	&.o-ac-around {
		@include default.base(map.get(settings.$align-content-around, default)) {
			--grid-align-content: space-around;
		}
	}

	&.o-ac-evenly {
		@include default.base(map.get(settings.$align-content-evenly, default)) {
			--grid-align-content: space-evenly;
		}
	}

	&.o-ac-start {
		@include default.at(map.get(settings.$align-content-start, at)) {
			--grid-align-content: start;
		}
	}

	&.o-ac-center {
		@include default.at(map.get(settings.$align-content-center, at)) {
			--grid-align-content: center;
		}
	}

	&.o-ac-end {
		@include default.at(map.get(settings.$align-content-end, at)) {
			--grid-align-content: end;
		}
	}

	&.o-ac-stretch {
		@include default.at(map.get(settings.$align-content-stretch, at)) {
			--grid-align-content: stretch;
		}
	}

	&.o-ac-between {
		@include default.at(map.get(settings.$align-content-between, at)) {
			--grid-align-content: space-between;
		}
	}

	&.o-ac-around {
		@include default.at(map.get(settings.$align-content-around, at)) {
			--grid-align-content: space-around;
		}
	}

	&.o-ac-evenly {
		@include default.at(map.get(settings.$align-content-evenly, at)) {
			--grid-align-content: space-evenly;
		}
	}

	&.o-ac-start {
		@include default.to(map.get(settings.$align-content-start, to)) {
			--grid-align-content: start;
		}
	}

	&.o-ac-center {
		@include default.to(map.get(settings.$align-content-center, to)) {
			--grid-align-content: center;
		}
	}

	&.o-ac-end {
		@include default.to(map.get(settings.$align-content-end, to)) {
			--grid-align-content: end;
		}
	}

	&.o-ac-stretch {
		@include default.to(map.get(settings.$align-content-stretch, to)) {
			--grid-align-content: stretch;
		}
	}

	&.o-ac-between {
		@include default.to(map.get(settings.$align-content-between, to)) {
			--grid-align-content: space-between;
		}
	}

	&.o-ac-around {
		@include default.to(map.get(settings.$align-content-around, to)) {
			--grid-align-content: space-around;
		}
	}

	&.o-ac-evenly {
		@include default.to(map.get(settings.$align-content-evenly, to)) {
			--grid-align-content: space-evenly;
		}
	}

	&.o-ac-start {
		@include default.between(map.get(settings.$align-content-start, between)) {
			--grid-align-content: start;
		}
	}

	&.o-ac-center {
		@include default.between(map.get(settings.$align-content-center, between)) {
			--grid-align-content: center;
		}
	}

	&.o-ac-end {
		@include default.between(map.get(settings.$align-content-end, between)) {
			--grid-align-content: end;
		}
	}

	&.o-ac-stretch {
		@include default.between(map.get(settings.$align-content-stretch, between)) {
			--grid-align-content: stretch;
		}
	}

	&.o-ac-between {
		@include default.between(map.get(settings.$align-content-between, between)) {
			--grid-align-content: space-between;
		}
	}

	&.o-ac-around {
		@include default.between(map.get(settings.$align-content-around, between)) {
			--grid-align-content: space-around;
		}
	}

	&.o-ac-evenly {
		@include default.between(map.get(settings.$align-content-evenly, between)) {
			--grid-align-content: space-evenly;
		}
	}
}
