@use "sass:map";
@use "@/styles/tools/generators/default" as default;
@use "./settings" as settings;

[class*="o-grid"] {
	&[class*="o-ai-"] {
		align-items: var(--grid-align-items, unset);
	}

	&.o-ai-start {
		@include default.base(map.get(settings.$align-items-start, default)) {
			--grid-align-items: start;
		}
	}

	&.o-ai-end {
		@include default.base(map.get(settings.$align-items-end, default)) {
			--grid-align-items: end;
		}
	}

	&.o-ai-center {
		@include default.base(map.get(settings.$align-items-center, default)) {
			--grid-align-items: center;
		}
	}

	&.o-ai-stretch {
		@include default.base(map.get(settings.$align-items-stretch, default)) {
			--grid-align-items: stretch;
		}
	}

	&.o-ai-start {
		@include default.at(map.get(settings.$align-items-start, at)) {
			--grid-align-items: start;
		}
	}

	&.o-ai-end {
		@include default.at(map.get(settings.$align-items-end, at)) {
			--grid-align-items: end;
		}
	}

	&.o-ai-center {
		@include default.at(map.get(settings.$align-items-center, at)) {
			--grid-align-items: center;
		}
	}

	&.o-ai-stretch {
		@include default.at(map.get(settings.$align-items-stretch, at)) {
			--grid-align-items: stretch;
		}
	}

	&.o-ai-start {
		@include default.to(map.get(settings.$align-items-start, to)) {
			--grid-align-items: start;
		}
	}

	&.o-ai-end {
		@include default.to(map.get(settings.$align-items-end, to)) {
			--grid-align-items: end;
		}
	}

	&.o-ai-center {
		@include default.to(map.get(settings.$align-items-center, to)) {
			--grid-align-items: center;
		}
	}

	&.o-ai-stretch {
		@include default.to(map.get(settings.$align-items-stretch, to)) {
			--grid-align-items: stretch;
		}
	}

	&.o-ai-start {
		@include default.between(map.get(settings.$align-items-start, between)) {
			--grid-align-items: start;
		}
	}

	&.o-ai-end {
		@include default.between(map.get(settings.$align-items-end, between)) {
			--grid-align-items: end;
		}
	}

	&.o-ai-center {
		@include default.between(map.get(settings.$align-items-center, between)) {
			--grid-align-items: center;
		}
	}

	&.o-ai-stretch {
		@include default.between(map.get(settings.$align-items-stretch, between)) {
			--grid-align-items: stretch;
		}
	}
}
