@use "sass:map";
@use "@/styles/tools/generators/default" as default;
@use "./settings" as settings;

[class*="o-grid"] {
	&[class*="o-auto-cols"] {
		grid-auto-columns: var(--grid-auto-cols, unset);
	}

	&.o-auto-cols-auto {
		@include default.base(map.get(settings.$auto-cols-auto, default)) {
			--grid-auto-cols: auto;
		}
	}

	&.o-auto-cols-min {
		@include default.base(map.get(settings.$auto-cols-min, default)) {
			--grid-auto-cols: min-content;
		}
	}

	&.o-auto-cols-max {
		@include default.base(map.get(settings.$auto-cols-max, default)) {
			--grid-auto-cols: max-content;
		}
	}

	&.o-auto-cols-fr {
		@include default.base(map.get(settings.$auto-cols-fr, default)) {
			--grid-auto-cols: minmax(0, 1fr);
		}
	}

	&.o-auto-cols-auto {
		@include default.at(map.get(settings.$auto-cols-auto, at)) {
			--grid-auto-cols: auto;
		}
	}

	&.o-auto-cols-min {
		@include default.at(map.get(settings.$auto-cols-min, at)) {
			--grid-auto-cols: min-content;
		}
	}

	&.o-auto-cols-max {
		@include default.at(map.get(settings.$auto-cols-max, at)) {
			--grid-auto-cols: max-content;
		}
	}

	&.o-auto-cols-fr {
		@include default.at(map.get(settings.$auto-cols-fr, at)) {
			--grid-auto-cols: minmax(0, 1fr);
		}
	}

	&.o-auto-cols-auto {
		@include default.to(map.get(settings.$auto-cols-auto, to)) {
			--grid-auto-cols: auto;
		}
	}

	&.o-auto-cols-min {
		@include default.to(map.get(settings.$auto-cols-min, to)) {
			--grid-auto-cols: min-content;
		}
	}

	&.o-auto-cols-max {
		@include default.to(map.get(settings.$auto-cols-max, to)) {
			--grid-auto-cols: max-content;
		}
	}

	&.o-auto-cols-fr {
		@include default.to(map.get(settings.$auto-cols-fr, to)) {
			--grid-auto-cols: minmax(0, 1fr);
		}
	}

	&.o-auto-cols-auto {
		@include default.between(map.get(settings.$auto-cols-auto, between)) {
			--grid-auto-cols: auto;
		}
	}

	&.o-auto-cols-min {
		@include default.between(map.get(settings.$auto-cols-min, between)) {
			--grid-auto-cols: min-content;
		}
	}

	&.o-auto-cols-max {
		@include default.between(map.get(settings.$auto-cols-max, between)) {
			--grid-auto-cols: max-content;
		}
	}

	&.o-auto-cols-fr {
		@include default.between(map.get(settings.$auto-cols-fr, between)) {
			--grid-auto-cols: minmax(0, 1fr);
		}
	}
}
