@use "sass:map";
@use "@/styles/tools/generators/default" as default;
@use "@/styles/tools/generators/value" as value;
@use "./settings" as settings;

[class*="o-grid"] > {
	[class*="o-col-start"] {
		grid-column-start: var(--grid-col-start);
	}

	.o-col-start {
		@include value.base(map.get(settings.$col-start, value)) using ($item) {
			--grid-col-start: #{$item};
		}
	}

	.o-col-start-auto {
		@include default.base(map.get(settings.$col-start-auto, default)) {
			--grid-col-start: #{$item};
		}
	}

	.o-col-start {
		@include value.at(map.get(settings.$col-start, at)) using ($item) {
			--grid-col-start: #{$item};
		}
	}

	.o-col-start-auto {
		@include default.at(map.get(settings.$col-start-auto, at)) {
			--grid-col-start: #{$item};
		}
	}

	.o-col-start {
		@include value.to(map.get(settings.$col-start, to)) using ($item) {
			--grid-col-start: #{$item};
		}
	}

	.o-col-start-auto {
		@include default.to(map.get(settings.$col-start-auto, to)) {
			--grid-col-start: #{$item};
		}
	}

	.o-col-start {
		@include value.between(map.get(settings.$col-start, between)) using ($item) {
			--grid-col-start: #{$item};
		}
	}

	.o-col-start-auto {
		@include default.between(map.get(settings.$col-start-auto, between)) {
			--grid-col-start: #{$item};
		}
	}
}
