@use "sass:map";
@use "@/styles/tools/generators/default" as default;
@use "@/styles/tools/generators/value" as value;
@use "./settings" as settings;

[class*="o-grid"] > {
	[class*="o-col-end"] {
		grid-column-end: var(--grid-col-end);
	}

	.o-col-end {
		@include value.base(map.get(settings.$col-end, value)) using ($item) {
			--grid-col-end: #{$item};
		}
	}

	.o-col-end-auto {
		@include default.base(map.get(settings.$col-end-auto, default)) {
			--grid-col-end: #{$item};
		}
	}

	.o-col-end {
		@include value.at(map.get(settings.$col-end, at)) using ($item) {
			--grid-col-end: #{$item};
		}
	}

	.o-col-end-auto {
		@include default.at(map.get(settings.$col-end-auto, at)) {
			--grid-col-end: #{$item};
		}
	}

	.o-col-end {
		@include value.to(map.get(settings.$col-end, to)) using ($item) {
			--grid-col-end: #{$item};
		}
	}

	.o-col-end-auto {
		@include default.to(map.get(settings.$col-end-auto, to)) {
			--grid-col-end: #{$item};
		}
	}

	.o-col-end {
		@include value.between(map.get(settings.$col-end, between)) using ($item) {
			--grid-col-end: #{$item};
		}
	}

	.o-col-end-auto {
		@include default.between(map.get(settings.$col-end-auto, between)) {
			--grid-col-end: #{$item};
		}
	}
}
