@use "sass:map";
@use "@/styles/tools/generators/default" as default;
@use "./settings" as settings;

[class*="o-grid"] {
	&[class*="o-jc-"] {
		justify-content: var(--grid-justify-content, unset);
	}

	&.o-jc-start {
		@include default.base(map.get(settings.$justify-content-start, default)) {
			--grid-justify-content: start;
		}
	}

	&.o-jc-center {
		@include default.base(map.get(settings.$justify-content-center, default)) {
			--grid-justify-content: center;
		}
	}

	&.o-jc-end {
		@include default.base(map.get(settings.$justify-content-end, default)) {
			--grid-justify-content: end;
		}
	}

	&.o-jc-stretch {
		@include default.base(map.get(settings.$justify-content-stretch, default)) {
			--grid-justify-content: stretch;
		}
	}

	&.o-jc-between {
		@include default.base(map.get(settings.$justify-content-between, default)) {
			--grid-justify-content: space-between;
		}
	}

	&.o-jc-around {
		@include default.base(map.get(settings.$justify-content-around, default)) {
			--grid-justify-content: space-around;
		}
	}

	&.o-jc-evenly {
		@include default.base(map.get(settings.$justify-content-evenly, default)) {
			--grid-justify-content: space-evenly;
		}
	}

	&.o-jc-start {
		@include default.at(map.get(settings.$justify-content-start, at)) {
			--grid-justify-content: start;
		}
	}

	&.o-jc-center {
		@include default.at(map.get(settings.$justify-content-center, at)) {
			--grid-justify-content: center;
		}
	}

	&.o-jc-end {
		@include default.at(map.get(settings.$justify-content-end, at)) {
			--grid-justify-content: end;
		}
	}

	&.o-jc-stretch {
		@include default.at(map.get(settings.$justify-content-stretch, at)) {
			--grid-justify-content: stretch;
		}
	}

	&.o-jc-between {
		@include default.at(map.get(settings.$justify-content-between, at)) {
			--grid-justify-content: space-between;
		}
	}

	&.o-jc-around {
		@include default.at(map.get(settings.$justify-content-around, at)) {
			--grid-justify-content: space-around;
		}
	}

	&.o-jc-evenly {
		@include default.at(map.get(settings.$justify-content-evenly, at)) {
			--grid-justify-content: space-evenly;
		}
	}

	&.o-jc-start {
		@include default.to(map.get(settings.$justify-content-start, to)) {
			--grid-justify-content: start;
		}
	}

	&.o-jc-center {
		@include default.to(map.get(settings.$justify-content-center, to)) {
			--grid-justify-content: center;
		}
	}

	&.o-jc-end {
		@include default.to(map.get(settings.$justify-content-end, to)) {
			--grid-justify-content: end;
		}
	}

	&.o-jc-stretch {
		@include default.to(map.get(settings.$justify-content-stretch, to)) {
			--grid-justify-content: stretch;
		}
	}

	&.o-jc-between {
		@include default.to(map.get(settings.$justify-content-between, to)) {
			--grid-justify-content: space-between;
		}
	}

	&.o-jc-around {
		@include default.to(map.get(settings.$justify-content-around, to)) {
			--grid-justify-content: space-around;
		}
	}

	&.o-jc-evenly {
		@include default.to(map.get(settings.$justify-content-evenly, to)) {
			--grid-justify-content: space-evenly;
		}
	}

	&.o-jc-start {
		@include default.between(map.get(settings.$justify-content-start, between)) {
			--grid-justify-content: start;
		}
	}

	&.o-jc-center {
		@include default.between(map.get(settings.$justify-content-center, between)) {
			--grid-justify-content: center;
		}
	}

	&.o-jc-end {
		@include default.between(map.get(settings.$justify-content-end, between)) {
			--grid-justify-content: end;
		}
	}

	&.o-jc-stretch {
		@include default.between(map.get(settings.$justify-content-stretch, between)) {
			--grid-justify-content: stretch;
		}
	}

	&.o-jc-between {
		@include default.between(map.get(settings.$justify-content-between, between)) {
			--grid-justify-content: space-between;
		}
	}

	&.o-jc-around {
		@include default.between(map.get(settings.$justify-content-around, between)) {
			--grid-justify-content: space-around;
		}
	}

	&.o-jc-evenly {
		@include default.between(map.get(settings.$justify-content-evenly, between)) {
			--grid-justify-content: space-evenly;
		}
	}
}
