@use "sass:map";
@use "@/styles/tools/generators/default" as default;
@use "./settings" as settings;

[class*="o-grid"] > {
	[class*="o-js-"] {
		justify-self: var(--grid-justify-self);
	}

	.o-js-start {
		@include default.base(map.get(settings.$justify-self-start, default)) {
			--grid-justify-self: start;
		}
	}

	.o-js-center {
		@include default.base(map.get(settings.$justify-self-center, default)) {
			--grid-justify-self: center;
		}
	}

	.o-js-end {
		@include default.base(map.get(settings.$justify-self-end, default)) {
			--grid-justify-self: end;
		}
	}

	.o-js-stretch {
		@include default.base(map.get(settings.$justify-self-stretch, default)) {
			--grid-justify-self: stretch;
		}
	}

	.o-js-start {
		@include default.at(map.get(settings.$justify-self-start, at)) {
			--grid-justify-self: start;
		}
	}

	.o-js-center {
		@include default.at(map.get(settings.$justify-self-center, at)) {
			--grid-justify-self: center;
		}
	}

	.o-js-end {
		@include default.at(map.get(settings.$justify-self-end, at)) {
			--grid-justify-self: end;
		}
	}

	.o-js-stretch {
		@include default.at(map.get(settings.$justify-self-stretch, at)) {
			--grid-justify-self: stretch;
		}
	}

	.o-js-start {
		@include default.to(map.get(settings.$justify-self-start, to)) {
			--grid-justify-self: start;
		}
	}

	.o-js-center {
		@include default.to(map.get(settings.$justify-self-center, to)) {
			--grid-justify-self: center;
		}
	}

	.o-js-end {
		@include default.to(map.get(settings.$justify-self-end, to)) {
			--grid-justify-self: end;
		}
	}

	.o-js-stretch {
		@include default.to(map.get(settings.$justify-self-stretch, to)) {
			--grid-justify-self: stretch;
		}
	}

	.o-js-start {
		@include default.between(map.get(settings.$justify-self-start, between)) {
			--grid-justify-self: start;
		}
	}

	.o-js-center {
		@include default.between(map.get(settings.$justify-self-center, between)) {
			--grid-justify-self: center;
		}
	}

	.o-js-end {
		@include default.between(map.get(settings.$justify-self-end, between)) {
			--grid-justify-self: end;
		}
	}

	.o-js-stretch {
		@include default.between(map.get(settings.$justify-self-stretch, between)) {
			--grid-justify-self: stretch;
		}
	}
}
