@use "sass:map";
@use "@/styles/tools/generators/default" as default;
@use "./settings" as settings;

[class*="o-grid"] {
	&[class*="o-ji-"] {
		justify-items: var(--grid-justify-items);
	}

	&.o-ji-start {
		@include default.base(map.get(settings.$justify-items-start, default)) {
			--grid-justify-items: start;
		}
	}

	&.o-ji-end {
		@include default.base(map.get(settings.$justify-items-end, default)) {
			--grid-justify-items: end;
		}
	}

	&.o-ji-center {
		@include default.base(map.get(settings.$justify-items-center, default)) {
			--grid-justify-items: center;
		}
	}

	&.o-ji-stretch {
		@include default.base(map.get(settings.$justify-items-stretch, default)) {
			--grid-justify-items: stretch;
		}
	}

	&.o-ji-start {
		@include default.at(map.get(settings.$justify-items-start, at)) {
			--grid-justify-items: start;
		}
	}

	&.o-ji-end {
		@include default.at(map.get(settings.$justify-items-end, at)) {
			--grid-justify-items: end;
		}
	}

	&.o-ji-center {
		@include default.at(map.get(settings.$justify-items-center, at)) {
			--grid-justify-items: center;
		}
	}

	&.o-ji-stretch {
		@include default.at(map.get(settings.$justify-items-stretch, at)) {
			--grid-justify-items: stretch;
		}
	}

	&.o-ji-start {
		@include default.to(map.get(settings.$justify-items-start, to)) {
			--grid-justify-items: start;
		}
	}

	&.o-ji-end {
		@include default.to(map.get(settings.$justify-items-end, to)) {
			--grid-justify-items: end;
		}
	}

	&.o-ji-center {
		@include default.to(map.get(settings.$justify-items-center, to)) {
			--grid-justify-items: center;
		}
	}

	&.o-ji-stretch {
		@include default.to(map.get(settings.$justify-items-stretch, to)) {
			--grid-justify-items: stretch;
		}
	}

	&.o-ji-start {
		@include default.between(map.get(settings.$justify-items-start, between)) {
			--grid-justify-items: start;
		}
	}

	&.o-ji-end {
		@include default.between(map.get(settings.$justify-items-end, between)) {
			--grid-justify-items: end;
		}
	}

	&.o-ji-center {
		@include default.between(map.get(settings.$justify-items-center, between)) {
			--grid-justify-items: center;
		}
	}

	&.o-ji-stretch {
		@include default.between(map.get(settings.$justify-items-stretch, between)) {
			--grid-justify-items: stretch;
		}
	}
}
