@use "sass:map";
@use "@/styles/tools/generators/default" as default;
@use "./settings" as settings;

[class*="o-grid"] > {
	[class*="o-ps-"] {
		place-self: var(--grid-place-self, unset);
	}

	.o-ps-start {
		@include default.base(map.get(settings.$place-self-start, default)) {
			--grid-place-self: start;
		}
	}

	.o-ps-center {
		@include default.base(map.get(settings.$place-self-center, default)) {
			--grid-place-self: center;
		}
	}

	.o-ps-end {
		@include default.base(map.get(settings.$place-self-end, default)) {
			--grid-place-self: end;
		}
	}

	.o-ps-stretch {
		@include default.base(map.get(settings.$place-self-stretch, default)) {
			--grid-place-self: stretch;
		}
	}

	.o-ps-start {
		@include default.at(map.get(settings.$place-self-start, at)) {
			--grid-place-self: start;
		}
	}

	.o-ps-center {
		@include default.at(map.get(settings.$place-self-center, at)) {
			--grid-place-self: center;
		}
	}

	.o-ps-end {
		@include default.at(map.get(settings.$place-self-end, at)) {
			--grid-place-self: end;
		}
	}

	.o-ps-stretch {
		@include default.at(map.get(settings.$place-self-stretch, at)) {
			--grid-place-self: stretch;
		}
	}

	.o-ps-start {
		@include default.to(map.get(settings.$place-self-start, to)) {
			--grid-place-self: start;
		}
	}

	.o-ps-center {
		@include default.to(map.get(settings.$place-self-center, to)) {
			--grid-place-self: center;
		}
	}

	.o-ps-end {
		@include default.to(map.get(settings.$place-self-end, to)) {
			--grid-place-self: end;
		}
	}

	.o-ps-stretch {
		@include default.to(map.get(settings.$place-self-stretch, to)) {
			--grid-place-self: stretch;
		}
	}

	.o-ps-start {
		@include default.between(map.get(settings.$place-self-start, between)) {
			--grid-place-self: start;
		}
	}

	.o-ps-center {
		@include default.between(map.get(settings.$place-self-center, between)) {
			--grid-place-self: center;
		}
	}

	.o-ps-end {
		@include default.between(map.get(settings.$place-self-end, between)) {
			--grid-place-self: end;
		}
	}

	.o-ps-stretch {
		@include default.between(map.get(settings.$place-self-stretch, between)) {
			--grid-place-self: stretch;
		}
	}
}
