@use "sass:map";
@use "@/styles/tools/generators/default" as default;
@use "@/styles/tools/generators/value" as value;
@use "./settings" as settings;

[class*="o-grid"] > {
	[class*="o-row-end"] {
		grid-row-end: var(--grid-row-end, unset);
	}

	.o-row-end {
		@include value.base(map.get(settings.$row-end, value)) using ($item) {
			--grid-row-end: #{$item};
		}
	}

	.o-row-end-auto {
		@include default.base(map.get(settings.$row-end-auto, default)) {
			--grid-row-end: auto;
		}
	}

	.o-row-end {
		@include value.at(map.get(settings.$row-end, at)) using ($item) {
			--grid-row-end: #{$item};
		}
	}

	.o-row-end-auto {
		@include default.at(map.get(settings.$row-end-auto, at)) {
			--grid-row-end: auto;
		}
	}

	.o-row-end {
		@include value.to(map.get(settings.$row-end, to)) using ($item) {
			--grid-row-end: #{$item};
		}
	}

	.o-row-end-auto {
		@include default.to(map.get(settings.$row-end-auto, to)) {
			--grid-row-end: auto;
		}
	}

	.o-row-end {
		@include value.between(map.get(settings.$row-end, between)) using ($item) {
			--grid-row-end: #{$item};
		}
	}

	.o-row-end-auto {
		@include default.between(map.get(settings.$row-end-auto, between)) {
			--grid-row-end: auto;
		}
	}
}
