$spacing: ();
$grid: ();
$gap: ();
$col-gap: ();
$row-gap: ();
$gap-item: ();
$col-gap-item: ();
$row-gap-item: ();
$cols: ();
$cols-none: ();
$rows: ();
$rows-none: ();
$col: ();
$col-auto: ();
$col-full: ();
$col-start: ();
$col-start-auto: ();
$col-end: ();
$col-end-auto: ();
$row: ();
$row-auto: ();
$row-full: ();
$row-start: ();
$row-start-auto: ();
$row-end: ();
$row-end-auto: ();
$flow-row: ();
$flow-col: ();
$flow-row-dense: ();
$flow-col-dense: ();
$auto-cols-auto: ();
$auto-cols-min: ();
$auto-cols-max: ();
$auto-cols-fr: ();
$auto-rows-auto: ();
$auto-rows-min: ();
$auto-rows-max: ();
$auto-rows-fr: ();
$justify-items-start: ();
$justify-items-end: ();
$justify-items-center: ();
$justify-items-stretch: ();
$justify-content-start: ();
$justify-content-center: ();
$justify-content-end: ();
$justify-content-stretch: ();
$justify-content-between: ();
$justify-content-around: ();
$justify-content-evenly: ();
$justify-self-start: ();
$justify-self-end: ();
$justify-self-center: ();
$justify-self-stretch: ();
$align-items-start: ();
$align-items-end: ();
$align-items-center: ();
$align-items-stretch: ();
$align-content-start: ();
$align-content-end: ();
$align-content-center: ();
$align-content-stretch: ();
$align-content-between: ();
$align-content-around: ();
$align-content-evenly: ();
$align-self-start: ();
$align-self-end: ();
$align-self-center: ();
$align-self-stretch: ();
$place-items-start: ();
$place-items-end: ();
$place-items-center: ();
$place-items-stretch: ();
$place-content-start: ();
$place-content-end: ();
$place-content-center: ();
$place-content-stretch: ();
$place-content-between: ();
$place-content-around: ();
$place-content-evenly: ();
$place-self-start: ();
$place-self-end: ();
$place-self-center: ();
$place-self-stretch: ();
$order-first: ();
$order-last: ();
$order: ();
