// prettier-ignore
$spacing: (
	default: 2,
);

// prettier-ignore
$grid: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$gap: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$col-gap: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$row-gap: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$gap-item: (
	value: (),
	at: (),
	to: (),
);

// prettier-ignore
$col-gap-item: (
	value: (),
	at: (),
	to: (),
);

// prettier-ignore
$row-gap-item: (
	value: (),
	at: (),
	to: (),
);

// prettier-ignore
$cols: (
	value: (),
	at: (),
	to: (),
);

// prettier-ignore
$cols-none: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$rows: (
	value: (),
	at: (),
	to: (),
);

// prettier-ignore
$rows-none: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$col: (
	value: (),
	at: (),
	to: (),
);

// prettier-ignore
$col-auto: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$col-full: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$col-start: (
	value: (),
	at: (),
	to: (),
);

// prettier-ignore
$col-start-auto: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$col-end: (
	value: (),
	at: (),
	to: (),
);

// prettier-ignore
$col-end-auto: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$row: (
	value: (),
	at: (),
	to: (),
);

// prettier-ignore
$row-auto: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$row-full: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$row-start: (
	value: (),
	at: (),
	to: (),
);

// prettier-ignore
$row-start-auto: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$row-end: (
	value: (),
	at: (),
	to: (),
);

// prettier-ignore
$row-end-auto: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$flow-row: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$flow-col: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$flow-row-dense: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$flow-col-dense: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$auto-cols-auto: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$auto-cols-min: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$auto-cols-max: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$auto-cols-fr: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$auto-rows-auto: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$auto-rows-min: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$auto-rows-max: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$auto-rows-fr: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-items-start: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-items-end: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-items-center: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-items-stretch: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-content-start: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-content-center: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-content-end: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-content-stretch: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-content-between: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-content-around: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-content-evenly: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-self-start: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-self-end: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-self-center: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-self-stretch: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-items-start: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-items-end: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-items-center: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-items-stretch: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-content-start: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-content-end: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-content-center: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-content-stretch: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-content-between: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-content-around: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-content-evenly: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-self-start: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-self-end: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-self-center: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-self-stretch: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$place-items-start: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$place-items-end: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$place-items-center: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$place-items-stretch: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$place-content-start: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$place-content-end: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$place-content-center: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$place-content-stretch: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$place-content-between: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$place-content-around: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$place-content-evenly: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$place-self-start: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$place-self-end: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$place-self-center: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$place-self-stretch: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$order-first: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$order-last: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$order: (
	value: (),
	at: (),
	to: (),
);
