$font-family-primary: ("Helvetica", "Arial", sans-serif);
$font-family-secondary: ("Helvetica", "Arial", sans-serif);

$font-weight-extra-black: 950;
$font-weight-black: 900;
$font-weight-extra-bold: 800;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-normal: 400;
$font-weight-light: 300;
$font-weight-extra-light: 200;
$font-weight-thin: 100;

@mixin h1 {
	font-family: var(--h1-font-family);
	font-weight: var(--h1-font-weight);
	font-size: var(--h1-font-size);
	line-height: var(--h1-line-height);
}

@mixin h2 {
	font-family: var(--h2-font-family);
	font-weight: var(--h2-font-weight);
	font-size: var(--h2-font-size);
	line-height: var(--h2-line-height);
}

@mixin h3 {
	font-family: var(--h3-font-family);
	font-weight: var(--h3-font-weight);
	font-size: var(--h3-font-size);
	line-height: var(--h3-line-height);
}

@mixin h4 {
	font-family: var(--h4-font-family);
	font-weight: var(--h4-font-weight);
	font-size: var(--h4-font-size);
	line-height: var(--h4-line-height);
}

@mixin h5 {
	font-family: var(--h5-font-family);
	font-weight: var(--h5-font-weight);
	font-size: var(--h5-font-size);
	line-height: var(--h5-line-height);
}

@mixin h6 {
	font-family: var(--h6-font-family);
	font-weight: var(--h6-font-weight);
	font-size: var(--h6-font-size);
	line-height: var(--h6-line-height);
}

@mixin p {
	font-family: var(--p-font-family);
	font-weight: var(--p-font-weight);
	font-size: var(--p-font-size);
	line-height: var(--p-line-height);
}
