@use "@/styles/tools" as *;

@layer base {
	@font-face {
		font-family: Roboto;
		font-weight: 700;
		font-style: normal;
		font-display: swap;

		/**
		 * Decrease font-loading by indicating that no stylistic characters are
		 * needed. https://web.dev/optimize-webfont-loading
		 */
		unicode-range: U+000-5FF;

		src: url("@/assets/Roboto-Bold.woff2") format("woff2"), url("@/assets/Roboto-Bold.woff") format("woff");

		// src: url($url + ".woff2") format("woff2-variations"), url($url + ".ttf") format("truetype-variations");
	}
}
