@use "sass:math";
@use "@/styles/tools/config" as tools-config;
@use "@/styles/tools/helpers/config" as config;

$_base-font-size: tools-config.$base-font-size;
$_unit: config.$unit;

@function _px-em($value) {
	@return math.div($value, $_base-font-size) * 1em;
}

@function _em($value) {
	$unit: math.unit($value);

	@if ($unit == px) {
		@return _px-em($value);
	} @else {
		@return $value;
	}
}

@function _px-rem($value) {
	@return math.div($value, $_base-font-size) * 1rem;
}

@function _rem($value) {
	$unit: math.unit($value);

	@if ($unit == px) {
		@return _px-rem($value);
	} @else {
		@return $value;
	}
}

@function _rem-px($value) {
	$integer: math.div($value, ($value * 0 + 1)) * $_base-font-size;

	@return math.round($integer);
}

@function _px($value) {
	$unit: math.unit($value);

	@if ($unit == rem) {
		@return _rem-px($value);
	} @else {
		@return $value;
	}
}

@function convert($value, $to: $_unit) {
	@if ($to == px) {
		@return _px($value);
	} @else if ($to == rem) {
		@return _rem($value);
	} @else if ($to == em) {
		@return _em($value);
	} @else {
		@return $value;
	}
}
