@use "sass:map";
@use "../settings" as settings;

@function color($keys...) {
	$name: null;
	$value: map.get(settings.$colors, $keys...);

	@each $key in $keys {
		$name: if($name, "#{$name}-#{$key}", $key);
	}

	@return var(--#{$name});
}
