@use "sass:math";
@use "@/styles/settings/core" as core;
@use "@/styles/settings/sizes" as sizes;
@use "@/styles/tools/units" as units;

$_unit: core.$unit;
$_base-font-size: core.$base-font-size;
$_scale: sizes.$scale;

@function modular($value) {
	$result: $_base-font-size;

	@if ($value > 0) {
		@for $i from 1 through $value {
			$result: $result * $_scale;
		}
	} @else if ($value < 0) {
		@for $i from 1 through math.abs($value) {
			$result: math.div($result, $_scale);
		}
	}

	@return units.convert($result, $_unit);
}
