@use "sass:math";
@use "@/styles/tools/config" as tools-config;
@use "@/styles/tools/sizes/config" as config;
@use "@/styles/tools/helpers" as helpers;

$_linear: config.$linear;
$_scale: config.$scale;
$_unit: config.$unit;
$_base-font-size: tools-config.$base-font-size;

@function _linear($value) {
	$result: $_scale * $value;

	@return helpers.convert($result, $_unit);
}

@function _modular($value) {
	$result: $_base-font-size;

	@if ($value > 0) {
		@for $i from 1 through $value {
			$result: $result * $_scale;
		}
	} @else if ($value < 0) {
		@for $i from 1 through math.abs($value) {
			$result: $result / $_scale;
		}
	}

	@return helpers.convert($result, $_unit);
}

@function scale($value) {
	@if ($_linear) {
		@return _linear($value);
	} @else {
		@return _modular($value);
	}
}
