// prettier-ignore
$justify-content-start: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-content-end: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-content-center: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-content-between: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-content-around: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$justify-content-evenly: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-content-start: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-content-end: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-content-center: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-content-between: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-content-around: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-content-stretch: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-items-start: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-items-end: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-items-center: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-items-baseline: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-items-stretch: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-self-start: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-self-end: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-self-center: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-self-baseline: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$align-self-stretch: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$order-first: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$order-last: (
	default: false,
	at: (),
	to: (),
);

// prettier-ignore
$order: (
	value: (),
	at: (),
	to: (),
);
