@use "sass:map";

@mixin load($data) {
	$font-family: map.get($data, font-family);
	$font-weight: map.get($data, font-weight) or 100 900;
	$font-style: map.get($data, font-style) or normal;
	$font-display: map.get($data, font-display) or swap;
	$url: map.get($data, url);

	@font-face {
		font-family: $font-family;
		font-weight: $font-weight;
		font-style: $font-style;
		font-display: $font-display;

		src: url($url + ".woff2") format("woff2-variations"), url($url + ".ttf") format("truetype-variations");
	}
}
