/**
 * 1. Fix for 100vh issue on safari mobile browsers
 * 2. Ensure the page always fills up the entire height of the viewport.
 * 3. Force vertical scrollbars to always be visible to prevent awkward jumps
 *    when navigating between pages that do/do not have content to produce
 *    scrollbars naturally.
 * 4. Makes sure that 1rem = 16px, all rem scale along this percentage. Use
 *    _system.rem(16px) to output rem correctly.
 */
:root {
	// stylelint-disable-next-line value-no-vendor-prefix
	height: -webkit-fill-available; // 1
	min-height: 100%; // 2
	overflow-y: scroll; // 3

	font-size: 100%; // 4
}

/**
 * 1. Fix for 100vh issue on safari mobile browsers, use min-height 100vh as
 *    fallback
 */
body {
	min-height: 100vh; // 1
	// stylelint-disable-next-line value-no-vendor-prefix
	min-height: -webkit-fill-available;
}
