@use "@/styles/settings/typos" as typos;

h1 {
	@include typos.h1();

	max-width: 15ch;
}

h2,
h3,
h4,
h5,
h6 {
	max-width: 25ch;
}

h2 {
	@include typos.h2();
}

h3 {
	@include typos.h3();
}

h4 {
	@include typos.h4();
}

h5 {
	@include typos.h5();
}

h6 {
	@include typos.h6();
}

p {
	@include typos.p();

	max-width: 60ch;
}
