@use "@/styles/tools/typo" as typo;

h1 {
	@include typo.h1();

	max-width: 15ch;
}

h2,
h3,
h4,
h5,
h6 {
	max-width: 25ch;
}

h2 {
	@include typo.h2();
}

h3 {
	@include typo.h3();
}

h4 {
	@include typo.h4();
}

h5 {
	@include typo.h5();
}

h6 {
	@include typo.h6();
}

p {
	@include typo.p();

	max-width: 60ch;
}
